# Python cache files
*.pyc
__pycache__

# Test artifacts
.coverage
coverage.xml
ci/test/output/
.env
*.crt
*.key

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environment
venv/

# Misc
.DS_Store
