# Keep this in sync with setup.cfg
nose2>=0.15.1
nose2[coverage_plugin]>=0.6.5
pylint>=3.3.1
cryptography~=44.0.3
keyring>=25.5.0
pyopenssl>=24.2.1
PyInstaller>=6.11.0
PyYAML>=6.0.2
aiohttp>=3.10.10
asynctest>=0.13.0
setuptools>=80.0.0
twine>=5.1.1
build>=1.2.2
# https://nvd.nist.gov/vuln/detail/CVE-2020-26137
urllib3>=2.2.2

aiounittest~=1.4.2
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.20.2 # not directly required, pinned by Snyk to avoid a vulnerability
