# Keep this in sync with setup.cfg
pytest>=9.0.2
pytest-cov>=7.1.0
pylint>=4.0.5
cryptography~=46.0.5
keyring>=25.7.0
pyopenssl>=26.0.0
PyInstaller>=6.19.0
PyYAML>=6.0.3
aiohttp>=3.13.3
asynctest>=0.13.0
setuptools>=82.0.1
twine>=6.2.0
build>=1.4.0
urllib3>=2.6.3
packaging>=26.0

aiounittest~=1.5.0
requests>=2.32.5 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.23.0 # not directly required, pinned by Snyk to avoid a vulnerability
